[Unit]
Description=A service to

[Service]
User=tvi
Group=gpio
WorkingDirectory=/home/tvi/
Environment="PYTHONPATH=/usr/local/lib/tvi/lib"
ExecStart=python /usr/local/bin/tvi-run.py

# Not used currently, creates enviroment var LOGS_DIRECTORY
LogsDirectory=tvi

